*{
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --colorbg1: rgb(40, 40, 40);
    --colorblock1: rgb(102, 102, 102);
    --colortext1: rgb(207, 207, 207);
    --colorside1: rgb(73, 73, 73);
}
.teme--black{
    --colorbg1: rgb(40, 40, 40);
    --colorblock1: rgb(102, 102, 102);
    --colortext1: rgb(207, 207, 207);
    --colorside1: rgb(73, 73, 73);
    transition: 2000ms;
}
.teme--blue{
    --colorbg1: rgb(82, 167, 252);
    --colorblock1: rgb(1, 125, 250);
    --colortext1: rgb(255, 255, 255);
    --colorside1: rgb(2, 73, 204);
    transition: 2000ms;
}
.teme--white{
    --colorbg1: rgb(255, 255, 255);
    --colorblock1: rgb(178, 178, 178);
    --colortext1: rgb(35, 35, 35);
    --colorside1: rgb(140, 140, 140);
    transition: 2000ms;
}
.material-icons-outlined{
    font-size: 1.7em;
    /* max-height: 3em; */
    color: var(--colortext1);
}
.var--text{
    color: var(--colortext1)
}
.var--bg1{
    background-color: var(--colorbg1);
}
.var--fz2{
    font-size: 1.7em;
}
.var--fz3{
    font-size: 1.9em;
}
.var--fz4{
    font-size: 2.2em;
}
.var--fz5{
    font-size: 2.9em;
}
.boxs{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 1.3em;
    background-color: var(--colorblock1);
}
.icon--container {
    display: grid;
    justify-content: center;
    align-items: center;
}
.wh--100{
    width: 100%;
    height: 100%;
}
.test{
    background-color: blue;
}
.aref-icons-text{
    height: 3.5em;
    display: flex;
    align-items: center;
    color: var(--colortext1);
    white-space: nowrap;
}
.span-space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
}





/* Inicio Inicio Inicio Inicio Inicio Inicio */





.body-menu{
    display: flex;
    flex-wrap: wrap;
    min-width: 100vh;
    min-height: 100vh;
    margin: 0;
    background-color: var(--colorbg1);
}





.menu-grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: 4fr .5fr 1fr 6fr 2fr .5fr 2fr 4fr .5fr;
    grid-template-rows: 2fr 1fr .5fr 7fr 1fr 5fr 2fr .5fr 3fr;
    grid-template-areas: 
    ". . . tit . . . . ."
    ". . . tit . . . cont2 ."
    ". . . . . . . cont2 ."
    ". . cont1 cont1 cont1 . . cont2 ."
    ". . cont1 cont1 cont1 . . . ."
    ". . cont1 cont1 cont1 . . cont3 ."
    ". . . . . . . cont3 ."
    ". . . . . . . . ."
    "foot foot foot foot foot foot foot foot foot";
}
.menu-title{
    display: block;
    grid-area: tit;
    background-color: var(--colorblock1);
}
.menu-container-1{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    outline: .3em solid forestgreen;
    grid-area: cont1;
}
    .menu-search{
        width: 100%;
        height: 6em;
        padding: 1.2em 8em;
    }
        .box__search{
            width: 100%;
            height: 100%;
            padding: .6em;
            display: flex;
            flex-wrap: wrap;
            background-color: var(--colorblock1);
            transition-property: background;
            transition-duration: 1s;
        }
            .circle__search{
                width: 2.5em;
                height: 2.5em;
                margin-right: auto;
                border-radius: 50%;
                background-color: var(--colorside1)
            }
            .input-search-box{
                width: 85%;
                height: 2em;
                background-color: ghostwhite;
            }
    .menu__boe{
        width: 60%;
        height: 11em;
        padding: .2em;
    }
    .menu__pys{
        width: 40%;
        height: 11em;
        display: flex;
        flex-wrap: wrap;
    }
    .menu__productos{
        width: 100%;
        height: 5.5em;
        padding: .2em;
    }
    .menu__servicios{
        width: 100%;
        height: 5.5em;
        padding: .2em;
    }
    .space__cont1{
        width: 100%;
        height: 2em;
    }
    .menu__advert{
        width: 100%;
        height: 13.2em;
        padding: .2em;    
    }
        .menu__advert:hover{
            background-color: aquamarine;
        }
    .menu__market-box{
        width: 65%;
        height: 8em;
        padding: .2em;
    }
    .menu__dash-block{
        width: 35%;
        height: 8em;
        padding: .2em;
    }
    .space__cont2{
        width: 100%;
        height: 1em;
    }
    .menu-radio{
        width: 50%;
        height: 9em;
        padding: .2em;
    }
    .menu-clima{
        width: 50%;
        height: 9em;
        padding: .2em;
    }






.menu-container-2{
    outline: .3em solid forestgreen;
    grid-area: cont2;
}
.menu-new{
    width: 100%;
    height: 100%;
    padding: .2em
}
.menu-container-3{
    grid-area: cont3;
    background-color: var(--colorblock1);
}
.menu-footer{
    grid-area: foot;
    background-color: var(--colorblock1);
}




        /* SIMPLE MODESIMPLE MODESIMPLE MODESIMPLE MODE */




.simple-mode{
    width: 4em;
    height: 4em;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--colorside1);
    cursor: pointer;
}
.simple-mode:hover{
    width: 12em;
    display: flex;
    justify-content: space-around;
    border-radius: 1.5em;
}
.simple-mode-tooltip{
    display: none;
}
.simple-mode:hover .simple-mode-tooltip{
    display: block;
}
.simple-mode{
    transition: 300ms;
}
.simple-mode__text{
    font-size: 1.1em;
    white-space: nowrap;
}





        /* SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR */





        .menu-sidebar{
            width: 4em;
            height: 100%;
            position: fixed;
            margin-top: 10em;
            background-color: var(--colorside1);
            transition: width 400ms;
        }
        .menu-sidebar--expand{
            position: fixed;
            margin-top: 10em;
            width: 12em;
            height: 100%;
            border-right: 0;
            background-color: var(--colorside1);
        }
    
    
    
    
        .sidebar__btn{
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            margin-bottom: 1em;
            cursor: pointer;
            transition: margin-left 400ms;
        }
            .sidebar__title{
                display: none;
                align-items: center;
                padding-left: 2.1em;
                margin-bottom: .5em;
            }
                .sidebar__title--span{
                    margin-right: .3em;
                }
            .menu-sidebar--expand .sidebar__title{
                position: absolute;
                transform: translate(-7.7em);
                display: flex;
            }
            .box__ce{
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: var(--colorside1);
                transform: rotateY(0deg);
                transition: background-color, transform 300ms;
            }
                .sidebar-navigate-c{
                    transform: translate(.05em, .005em);
                    transition: 400ms;
                }
                .sidebar-navigate-c:hover{
                    transform: scale(1.2);
                    transition: 200ms;
                }
    .menu-sidebar--expand .sidebar__btn{
        margin-left: 5.7em;
    }
    .menu-sidebar--expand .box__ce{
        transform: rotateY(180deg);
    }
        .menu-sidebar--expand .box__ce{
            background-color: var(--colorblock1);
        }
    
            
            
            
            
    .sidebar-opts{
        width: 100%;
        margin-top: 4.6em;
        display: flex;
        position: absolute;
        flex-direction: column;
        padding: 0;
        list-style: none;
    }
        .sidebar-opts__box{
            height: 3.3em;
            padding-left: .9em;
            display: flex;
            align-items: center;
            white-space: nowrap;
            transition: 250ms;
            cursor: pointer;
        }
            .sidebar-arrow{
                display: none;
            } 
            .span--text{
                display: none;
            }
        .sidebar-opts__box:hover{
            transform: scale(1.2);
            transition: 250ms;
        }
    .menu-sidebar--expand .sidebar-opts{
        margin-top: 4.6em;
        justify-content: space-evenly;
    }
        .menu-sidebar--expand .sidebar-opts__box{
            width: 90%;
            display: flex;
            white-space: nowrap;
            align-items: center;
            flex-direction: row;
            transition: 250ms;
        }
            .menu-sidebar--expand .sidebar-arrow{
                display: block;
                position: absolute;
                transform: translate(5.5em, 0);
            } 
            .menu-sidebar--expand .span--text{
                display: block;
                margin-left: .6em;
            }
    .menu-sidebar--expand .sidebar-opts__box:hover{
        transform: scale(1);
        transform: translate(.4em, -.4em);
        background-color: var(--colorblock1);
        transition: 250ms;
    }



                        /* SUBMENU */





    .down__config{
    display: none;
    }
    .sidebar__submenu__box{
    width: 7em;
    height: 2em;
    display: flex;
    align-items: center;
    padding-left: .7em;
    border-left: .4em solid var(--colorbg1);
    transform: translate(3em);
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    background-color: var(--colorblock1);
    z-index: 1;
    transition: width 0.4s;
    }        
    .sidebar__submenu__box::before{
    width: .4em;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--colorbg1);
    transition: width 0.4s;
    }
    .sidebar__submenu__box:hover:before{
    width: 100%;
    }





            /* SUBMENU TOOLTIP SUBMENU TOOLTIP SUBMENU TOOLTIP */




    .sub-menu__tooltip{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(4em, 4em);
    }
    .sub-menu__tooltip--disable{
    display: none;
    }
    .sub-menu__tooltip__title{
    width: 7em;
    height: 2.4em;
    display: flex;
    align-items: center;
    margin-left: 1em;
    padding-left: .7em;
    cursor: default;
    background-color: var(--colorside1);
    }
    .sub-menu__tooltip__box{
    width: 7em;
    height: 2.4em;
    display: flex;
    align-items: center;
    margin-left: 1em;
    padding-left: 1em;
    cursor: pointer;
    background-color: var(--colorside1);
    }





            /* MODAL TEMES MODAL TEMES MODAL TEMES MODAL  */





    .modal-temes{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111111bd;
    display: none;
    }
    .display--flex{
    display: flex;
    }
    .modal-temes__container{
    width: 20em;
    height: 30em;
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 2em;
    border-radius: 1.5em;
    background-color: var(--colorblock1);
    }
    .modal-temes__close-btn{
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    display: grid;
    align-items: center;
    border-radius: 50%;
    transform: translate(15em, -1.5em);
    cursor: pointer;
    background-color: var(--colorside1);
    }
    .modal-temes__close-btn__btn{
    transition: 200ms;
    }
    .modal-temes__close-btn__btn:hover{
    transform: scale(1.2);
    transition: 200ms;
    }
    .modal__box__teme{
    width: 100%;
    height: 4em;
    margin: 1em 0;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--colorside1);
    transition: transform 300ms;
    }
    .modal__box__teme:hover{
    transform: translate(.4em, -.4em);
    }
    .box-teme__selector{
    width: 9em;
    height: 2em;
    display: flex;
    align-items: center;
    border-radius: 1.5em;
    transform: translate(-2em);
    background-color: var(--colorblock1);
    }
    .box-teme__selector-cont{
    margin-left: 4em;
    }
    .teme__box{
    width: 2em;
    height: 2em;
    margin-left: .5em;
    border: .2em solid black;
    }
        .teme-black-box-bg1{
            background-color: rgb(40, 40, 40);
        }
        .teme-black-box-block1{
            background-color: rgb(102, 102, 102);
        }
        .teme-blue-box-bg2{
            background-color: rgb(82, 167, 252);;
        }
        .teme-blue-box-block2{
            background-color: rgb(1, 125, 250);
        }
        .teme-white-box-bg3{
            background-color: rgb(255, 255, 255);
        }
        .teme-white-box-block3{
            background-color: rgb(178, 178, 178);
        }
                        
            /* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */





@media screen and (max-width: 1300px){
    .menu-search{
        padding: 1.2em 6.5em;
    }
}
@media screen and (max-width: 1140px){
    .menu__boe{
        width: 100%;
        padding-right: 2.5em;
        padding-left: 2.5em;
    }
    .menu__pys{
        width: 100%;
        height: 5.5em;
    }
    .menu__servicios, .menu__productos{
        width: 50%;
    }
    .menu-search{
            padding: 1.2em 6em;
            display: grid;
            justify-content: center;
            align-items: center;
        }
    .box__search{
        width: 20em;
    }
}
@media screen and (max-width: 900px){
    .menu__boe{
        width: 100%;
        padding-right: 2em;
        padding-left: 2em;
    }
    .menu__pys{
        width: 100%;
    }
}
@media screen and (max-width: 724px){
    
}