:root{
    --colorbg1: rgb(40, 40, 40);
    --colorblock1: rgb(102, 102, 102);
    --colortext1: rgb(207, 207, 207);
    --colorside1: rgb(73, 73, 73);
}
*{
    box-sizing: border-box;
    text-decoration: none;
}
.var-text{
    color: var(--colortext1)
}
.body-menu{
    display: flex;
    flex-wrap: wrap;
    min-width: 100vh;
    min-height: 100vh;
    height: 2000px;
    margin: 0;
    padding-bottom: 4em;
    background-color: var(--colorbg1);
}
.boxs{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 1.3em;
    background-color: var(--colorblock1);
}
.icon-container {
    display: grid;
    justify-content: center;
    align-items: center;
}
.material-icons-outlined{
    font-size: 1.7em;
    max-height: 3em;
    color: var(--colortext1);
}
.wh100{
    width: 100%;
    height: 100%;
}
.test{
    background-color: blue;
}
.aref-icons-text{
    height: 3.5em;
    display: flex;
    align-items: center;
    color: var(--colortext1);
    white-space: nowrap;
}
.span-space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
}



           /* Inicio Inicio Inicio Inicio Inicio Inicio */





.space1{
    width: 18.5%;
    transition: width 400ms;
}
.space1.expand{
    width: 22.5%;
}
.menu-container-1{
    margin-top: 210px;
    width: 49%;
    height: 70em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    outline: .3em solid forestgreen
}
.menu-search{
    width: 100%;
    height: 6em;
    padding: 1.2em 8em;
}
        .box-search{
            width: 100%;
            height: 100%;
            padding: .6em;
            display: flex;
            flex-wrap: wrap;
            background-color: var(--colorblock1);
            transition-property: background;
            transition-duration: 1s;
        }
        .box-search:hover{
            background-color: darkorange
        }
.circle-search{
    width: 2.5em;
    height: 2.5em;
    margin-right: auto;
    border-radius: 50%;
    background-color: var(--colortext1)
}
.input-search-box{
    width: 85%;
    background-color: var(--colortext1);
}
.menu-boe{
    /* width: 23em; */
    width: 60%;
    height: 11em;
    padding: .2em;
    /* background-color: aqua */
}
.menu-pys{
    /* width: 18em; */
    width: 40%;
    height: 11em;
    /* background-color: violet; */
    display: flex;
    flex-wrap: wrap;
}
.menu-productos{
    width: 100%;
    height: 5.5em;
    padding: .2em;
}
/* .box-productos:hover{
    transform: scale(1.2);
    box-shadow: 0px, 0px, 1px, 0px, (rgba(207, 207, 207, 0.5));
    background-color: rosybrown;
} */
.menu-servicios{
    width: 100%;
    height: 5.5em;
    padding: .2em;
}
.space-cont1{
    width: 100%;
    height: 2em;
}
.menu-advert{
    width: 100%;
    height: 13.2em;
    padding: .2em;    
}
        .menu-advert:hover{
            background-color: aquamarine;
        }
.menu-market-box{
    width: 65%;
    height: 8em;
    padding: .2em;
}
.menu-dash-block{
    width: 35%;
    height: 8em;
    padding: .2em;
}
.space-cont2{
    width: 100%;
    height: 1em;
}
.menu-radio{
    width: 50%;
    height: 9em;
    padding: .2em;
}
.menu-clima{
    width: 50%;
    height: 9em;
    padding: .2em;
}





.space2{
    width: 12.5%;
    transition: width 400ms;
}
.space2.expand{
    width: 8.5%;
}
.menu-container-2{
    margin-top: 7em;
    width: 19%;
    height: 60em;
    outline: .3em solid forestgreen
}
/* .space3{
    width: 4%; */
.menu-new{
    width: 100%;
    height: 100%;
    padding: .2em
}





        /* SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR */





.box-ce{
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    background-color: var(--colorside1);
    transition: background-color 300ms;
}
        .box-ce span{
            cursor: pointer;
            font-size: 2.5em;
        }
.menu-sidebar.expand .box-ce{
    background-color: var(--colorblock1);
}
.sidebar-btn{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: .1em;
    transition: margin-left 400ms;
}
.menu-sidebar.expand .sidebar-btn{
    position: fixed;
    margin-left: 10.5em;
}
.sidebar-navigate{
    display: none;
}
.menu-sidebar.expand .sidebar-navigate{
    display: inline-block;
}
.menu-sidebar.expand .sidebar-navigate-c{
    display: none;
}





.sidebar-title{
    display: none;
    align-items: center;
    padding-left: 2.5em;
}
.sidebar-title span{
    margin-right: .3em;
}
.menu-sidebar.expand .sidebar-title{
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 2.5em;
}




.menu-sidebar.expand  .aref-icons-text:hover{
    transform: translateX(.4em);
    background-color: var(--colorblock1);
    transition: 400ms;
}
.sidebar-opts{
    display: block;
    position: relative;
    width: 100%;
    padding: 0 1em 1em 1em;
    margin: 0;
}
.menu-sidebar.expand .sidebar-opts{
    margin-top: 3.1em;
}
.sidebar-option span{
    display: flex;
    align-items: center;
}
.span-text{
    display: none;
}
.menu-sidebar.expand .span-text{
    display: block;
    margin-left: 1em;
}





.arrow-container{
    display: flex;
    cursor: pointer;
}
.sidebar-arrow{
    display: none;
}
.menu-sidebar.expand .sidebar-arrow{
    position: absolute;
    display: none;
    align-items: center;
    margin-left: 4.9em;
    margin-top: .1em;
}
.menu-sidebar.expand .arrow-container:hover .sidebar-arrow{
    display: flex;
}
/* .sidebar-arrow:hover {
    cursor: pointer;
} */





.sidebar-submenu{
    display: none;
}
.menu-sidebar.expand .sidebar-submenu{
    display: none;
    margin-left: 2em;
    padding: 0;
    background-color: var(--colorside1);
}
.menu-sidebar.expand .sidebar-submenu a{
    width: 9em;
    height: 2em;
    display: flex;
    align-items: center;
    padding: .5em;
    border-left: .4em solid var(--colorbg1);
    color: var(--colortext1);
}
.menu-sidebar.expand .sidebar-submenu a:hover{
    width: 7.4em;
    transform: translateX(1em) ;
    border: 0;
    background-color: var(--colorblock1);
    transition: 400ms;
}
.menu-sidebar.expand .sidebar-submenu.down-config{
    display: block;
    margin-left: 2em;
    padding: 0;
    background-color: var(--colorside1);
}




.menu-sidebar{
    position: fixed;
    margin-top: 10em;
    width: 4em;
    height: 100%;
    background-color: var(--colorside1);
    transition: width 400ms;
}
.menu-sidebar ul{
    list-style: none;
}
.space1-sidebar{
    width: 22.5%;
    transition: width 400ms;
}
.space2-sidebar{
    width: 8.5%;
    transition: width 400ms;
}
.sidebar-expand{
    position: fixed;
    margin-top: 0em;
    margin-left: 8.5em;
}
.menu-sidebar.expand{
    position: fixed;
    margin-top: 10em;
    width: 12em;
    height: 100%;
    border-right: 0;
    background-color: var(--colorside1);
}
.menu-sidebar.expand .aref-icons-text{
    color: var(--colortext1);
    width: 100%;
    height: 3.5em;
    transition: 400ms;
}
/* .menu-sidebar ul li:hover .sidebar-tooltip{
    opacity: 1;
    top: 50%;
} */
/* .hola{
    background-color: aquamarine;
} */






            /* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */





@media screen and (max-width: 1300px){
    .menu-search{
        /* width: 100%;
        height: 6em; */
        padding: 1.2em 6.5em;
    }
}
@media screen and (max-width: 1140px){
    .menu-container-2{
        margin-left: auto;
    }
    .menu-boe{
        width: 100%;
        padding-right: 2.5em;
        padding-left: 2.5em;
    }
    .menu-pys{
        width: 100%;
        height: 5.5em;
    }
    .menu-servicios, .menu-productos{
        width: 50%;
    }
    .menu-search{
            /* width: 100%;
            height: 6em; */
            padding: 1.2em 6em;
            display: grid;
            justify-content: center;
            align-items: center;
        }
    .box-search{
        width: 20em;
    }
}
@media screen and (max-width: 900px){
    .menu-container-1{
        width: 26.5em;
    }
    .menu-boe{
        width: 100%;
        padding-right: 2em;
        padding-left: 2em;
    }
    .menu-pys{
        width: 100%;
    }
}